<!-- <form (ngSubmit)="onHandleAdd()">
  <div class="form-group">
    <input
      type="text"
      placeholder="Tên sản phẩm"
      [(ngModel)]="product.name"
      name="name"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      placeholder="Giá sản phẩm"
      [(ngModel)]="product.price"
      name="price"
    />
  </div>
  <div *ngIf="product">{{ product.name }} - {{ product.price }}</div>
  <button type="submit">Submit</button>
</form> -->
<form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
  <input type="text" formControlName="name" />
  <input type="text" formControlName="price" />
  <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>
