<div class="container">
  <h1>Quản lý sản phẩm</h1>
  <input type="text" (input)="getValue($event)" />
  <div *ngIf="status">Tên sản phẩm: {{ productName }}</div>
  <button class="btn btn-primary" (click)="changeStatus()">
    Change Status
  </button>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        app-product-item
        *ngFor="let product of products; let i = index"
        [product]="product"
        [index]="i"
        (onRemove)="removeItem(product.id)"
      ></tr>
    </tbody>
  </table>
</div>
<hr />
